
Django>=5.2.6
django-anymail>=13.1
django-ckeditor-5>=0.2.18
django-templated-email>=3.1.1
gunicorn>=23.0.0
html2text>=2025.4.15
Pillow>=11.3.0
python-dotenv>=1.1.1
reportlab>=4.4.3
whitenoise>=6.10.0
